{% extends "layout.html" %}

{% block title %}
    Forums
{% endblock %}


{% block main %}

    <div>
        {% for message in messages %}
        <div class="Forums">
            <h6>User: {{ message.sender }} </h7>
            <h5>Topic: {{message.title}}</h4>
            <p>{{ message.time}}</p>
            <form action="/topic" method="post">
                <input type="hidden" id="messages_id" name="messages_id" value="{{ message.id }}">
                <input type="submit" class="btn btn-info" value="Look the answer">
            </form>
        </div>
        {%endfor%}
    </div>


{% endblock %}


